@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400..700&family=Nanum+Gothic&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
}

@keyframes heroZoomIn {
    0% {
        transform: scale(1.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

#header {
 display: flex;
align-items: center;
justify-content: space-between;
padding: 20px;
background-image: url("cross.jpg");
background-size: cover;
background-position: center;
color: white;
height: 80px;
z-index: 2;
animation: slideDown 1s ease-out;
position: relative;
font-family: "Arima";
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 40px;
    margin-right: 10px;
}

.church-name {
    font-size: 1.2em;
    font-weight: 600;
}

#nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#nav ul {
    display: flex;
    list-style: none;
}

#nav li {
    margin: 0 15px;
}

#nav a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    transition: color 0.3s, text-decoration 0.3s;
}

#nav a:hover {
    color: black;
    text-decoration: transparent;
}

.social-media {
    display: flex;
    margin-left: 10px;
}

.social-icon {
    margin: 0 5px; 
    color: white;
}

.social-icon:hover {
    color: black;
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    width: 250px;
    transition: width 0.4s;
    display: flex;
}

.search-bar input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.search-bar input:focus {
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

.search-bar button {
    position: absolute;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    color: #888;
    font-size: 18px;
    transition: color 0.3s;
}

.search-bar button:hover {
    color: black;
}

.hero {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    animation: heroZoomIn 5s ease-out;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.hero-content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 3;
}

.hero-content {
    opacity: 0;
    transition: opacity 0s ease-in-out;
}

.hero-content.active {
    opacity: 1;
    font-size: 2.1em; 
    font-family: "Arima";
}

.hero-content.active p {
    font-size: 0.7em;
}

.hero-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.hero-slide.active {
    opacity: 1;
}

.hero-slide:nth-child(1) {
    background-image: url('CCCCCV.jpg');
}

.hero-slide:nth-child(2) {
    background-image: url('chhh.jpg');
}

.additional-hero {
display: flex;
height: 100vh;
position: relative;
overflow: hidden;
transform: translateX(-100%);
transition: transform 1.5s ease-out;
}

.additional-hero.active {
transform: translateX(0);
}

.additional-hero .slide {
flex: 1;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
color: blanchedalmond;
font-size: 2em;
position: relative;
}

.slide-image {
background-image: url('IMG_4254.JPG');
background-size: contain;
background-position: center;
background-repeat: no-repeat;
width: 93%; 
height: 93%; 
}

.slide-text {
text-align: center;
margin: 20px;
}

.slide-text h2 {
font-size: 15px;
margin-bottom: 10px;
color: brown; 
}

.slide-text p {
font-size: 18px;
line-height: 1.6;
color: black;
}

.name-overlay {
position: absolute;
bottom: 30px;
left: 215px; 
background-color: brown;
color: white; 
padding: 8px 30px;
border-radius: 50px;
font-size: 0.5em; 
z-index: 2;
}
.name-overlay .title {
font-size: 0.8em;
font-style: italic;
display: block;
margin-top: 5px;
color: white; 
text-align: center;
}


@keyframes slideInFromLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.our-ministries-header {
text-align: center;
margin-bottom:-60px;
}

.our-ministries-header h2 {
font-size: 2.0em;
font-weight: bold;
color: brown;
text-transform: uppercase;
letter-spacing: 2px;
font-family: "Arima";
}

.four-box-hero {
background-color: blanchedalmond;
padding: 60px 20px;
display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
overflow: hidden;
}

.box-container {
display: flex;
justify-content: space-around;
width: 80%;
max-width: 1200px;
gap: 10px;
}

.box {
background-color: white;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 30px;
text-align: center;
overflow: hidden;
flex: 1;
padding: 10px;
transition: transform 0.5s ease-in-out, opacity 0.5s;
opacity: 0;
}

.box p {
margin-top: 10px;
font-size: 1.4em;
line-height: 1.6;
color: brown;
font-weight: bold;
}

.slide-left {
transform: translateX(-100%);
}

.slide-right {
transform: translateX(100%);
}

.box.active {
transform: translateX(0);
opacity: 1;
}

.image-slider {
position: relative;
overflow: hidden;
height: 210px;
margin-bottom: 10px;
border-radius: 5px;
width: 100%;
}

.image-wrapper {
display: flex;
transition: transform 1s ease-in-out;
width: 200%;
}

.image-wrapper img {
width: 50%;
height: 100%;
object-fit: cover;
transition: transform 0.5s ease;
}

.image-wrapper img:hover {
transform: scale(1.1);
cursor: pointer;
}

.modal {
display: flex;
position: fixed;
z-index: 1000;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.8);
justify-content: center;
align-items: center;
}

.modal-content {
max-width: 90%;
max-height: 80%;
}

.close {
position: absolute;
top: 20px;
right: 30px;
color: white;
font-size: 40px;
font-weight: bold;
cursor: pointer;
}


/* Navigation Buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -20px;
padding: 10px;
color: white;
font-weight: bold;
font-size: 30px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

.prev {
left: 20px;
}

.next {
right: 20px;
}

              
@keyframes slideImages {
0%, 33% {
transform: translateX(0);
}
34%, 66% {
transform: translateX(-100%);
}
67%, 100% {
transform: translateX(-200%);
}
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: auto;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-bottom {
    text-align: center; 
    margin-top: 20px; 
    font-size: 0.9em;
}
